langchain-community
langchain
langchain-chroma
langchain-huggingface
langchain-openrouter
langchain-gemini
langchain-postgres
langchain-text-splitters
langchain-core
langchain-google-genai
argon2-cffi
uvicorn
pydantic
fastapi
google-genai
streamlit
aiogram
requests
psycopg2-binary
python-dotenv
huggingface-hub
openai
langchain-aws